{% extends 'base.html.twig' %}

{% block title %}Créaton d'un compte{% endblock %}

{% block body %}
    <h1 class="text-center my-3">Créé son compte</h1>
<div class="container">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div class="text-center">
        <button type="submit" class="btn btn-success">Register</button>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
