{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block body %}
    <div class="text-center my-3">
        <h1>Gestion des catégories</h1>
    </div>

    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom de la catégorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.libelle }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}"><i
                                class="fa-solid fa-eye text-black fa-xl p-3"></i></a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}"><i
                                class="fas fa-edit fa-xl p-3 text-black"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="text-center my-3">
    <a href="{{ path('app_category_new') }}" class="btn btn-success">Ajouter une catégorie</a>
    </div>
    <div class="text-end">
        <a href="{{ path('app_article_index') }}" class="me-5 text-decoration-none text-black"><i class="fa-solid fa-left-long fa-2xl text-black"></i> <strong>RETOUR À L'ACCUEIL</strong></a>
    </div>
{% endblock %}
